#timerdata {
  color: white;
  font-weight: 700;
}
.timer{
  text-align: center;
  margin: 30px auto;
}
.section2 {
  background-image: url('assets/images/kjc2.jpg');
  background-size: cover;
  background-color: black;
  animation-name: titleimageslide;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes titleimageslide {
  0% {
    background-image: url('assets/images/kjc2.jpg');
  }
  45% {
      background-image: url('assets/images/kjc2.jpg');
  }
  50% {
      background-image: url('assets/images/kjc1.jpg');
  }
  95%{
      background-image: url('assets/images/kjc1.jpg');
  }
  100% {
    background-image: url('assets/images/kjc2.jpg');
  }
}