@media (max-width: 768px){
    .pointer_class{
        margin-top: 18px !important;
    }
    .ibm-ban1 h4{
        font-size: 28px;
    }
    .aws-ban2 h4{
        font-size: 28px;
    }







}
